#calculator {
	width: 200px;
	margin: auto;
	text-align: center;
	font-size: 20px;
  }
  
  #display {
	width: 100%;
	margin-bottom: 10px;
	font-size: 30px;
	text-align: right;
  }
  
  #keys button {
	width: 45px;
	height: 45px;
	font-size: 20px;
	margin: 2px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background-color: #EEE;
  }
  
  #keys button:hover {
	background-color: #DDD;
  }
  
  #keys button:active {
	background-color: #CCC;
  }